@media (max-width: 1900px) {
  .sec-lvl-4.sec-lvl-4--attraction {
    margin-top: -285px;
    padding-top: 215px; } }
@media (max-width: 1700px) {
  .sec-lvl-1 .october {
    width: 280px; }

  .sec-lvl-1 .lvl-1-m-w .years {
    width: 150px; }

  .sec-lvl-1 .lvl-1-m-w .ticket {
    width: 215px; } }
@media (max-width: 1599px) {
  .sec-lvl-4.sec-lvl-4--attraction {
    margin-top: -270px; }

  .sec-instahacks .slider-wr .slider-init .slick-dots {
    bottom: 11%; }

  .form-subscribe .m-w .wagon-left {
    left: -200px; }

  .form-subscribe .m-w .wagon-right {
    right: -200px; }

  .form-subscribe .m-w .wagon-baner {
    right: -560px; } }
@media (max-width: 1500px) {
  .sec-lvl-4 .bg-movie {
    width: 1000px;
    margin: 0 auto 190px auto; } }
@media (max-width: 1439px) {
  .footer__inner {
    padding-bottom: 40px; }

  .sec-lvl-1 .october {
    width: 260px; }

  .form-subscribe .m-w .wagon-left {
    width: 190px; }

  .wagon-item {
    width: 190px; }
    .wagon-item img {
      width: 100%; }

  .form-subscribe .m-w .wagon-right {
    right: -160px; }

  .form-subscribe .m-w .wagon-left {
    left: -170px; }

  .form-subscribe .m-w .wagon-center {
    top: 210px; } }
@media (max-width: 1400px) {
  .sec-instahacks .m-w .flex-hucks-wrap .banjo {
    -webkit-transform: translateX(20%) translateY(-108%);
            transform: translateX(20%) translateY(-108%); } }
@media (max-width: 1366px) {
  .sec-lvl-1 .lvl-1-m-w {
    height: 550px; }

  .sec-lvl-1 .october {
    width: 200px; }

  .sec-lvl-1 .lvl-1-m-w .years {
    width: 110px;
    left: 96%; }

  .sec-lvl-1 .lvl-1-m-w .ticket {
    right: 90%;
    width: 200px; }

  .sec-lvl-4 {
    padding: 0 60px; }

  .sec-lvl-1 .new-text-1 p {
    font-size: 34px;
    line-height: 34px;
    padding-top: 9px; }

  .sec-lvl-1 .new-text-1 p span {
    font-size: 28px; }

  .sec-lvl-1 .october {
    top: 160px; }

  .sec-lvl-1 .new-text-1 {
    top: 290px; }

  .form-subscribe .m-w .left-side .form-wrapp {
    max-width: 295px; }

  .form-subscribe .m-w .left-side .form-wrapp form input {
    padding: 11px 25px; }

  .form-subscribe .m-w .wagon-right {
    top: 20px;
    right: -156px; }

  .form-subscribe .m-w .wagon-baner {
    top: 31px;
    right: -571px;
    left: 69%;
    height: 154px; }

  .form-subscribe .m-w .left-side .form-wrapp form .flex-buttons a, .form-subscribe .m-w .left-side .form-wrapp form .flex-buttons span, .form-subscribe .m-w .left-side .form-wrapp form .flex-buttons button {
    width: 163px;
    font-size: 14px; }

  .form-subscribe .m-w .wagon-left {
    width: 190px;
    left: -129px; } }
@media (max-width: 1330px) {
  .form-subscribe .m-w .left-side .form-wrapp {
    margin: 0; }

  .wagon-item {
    width: 160px; }

  .form-subscribe .m-w .wagon-left {
    width: 160px; }

  .form-subscribe .m-w .wagon-baner {
    top: 31px;
    right: -388px;
    left: 55%; }

  .form-subscribe .m-w .wagon-right {
    right: 39px; }

  .form-subscribe .m-w .wagon-left {
    left: 50%;
    -webkit-transform: translateX(-90%);
            transform: translateX(-90%);
    top: 247px; }

  .form-subscribe .m-w .wagon-center {
    top: 241px;
    left: 91px; } }
@media (max-width: 1279px) {
  .sec-lvl-1 .october {
    width: 160px; } }
@media (max-width: 1199px) {
  .sec-instahacks .slider-wr .slider-init .one-slide.slick-center .img-before {
    -webkit-transform: scale(1);
            transform: scale(1); }

  .sec-instahacks .slider-wr .slider-init .one-slide {
    padding: 0; } }

/*# sourceMappingURL=media.css.map */